*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.formulario{
    width: 30rem;
    height: 40rem;
    background-color: #000000;
    border-radius: 10px;
}
.logo{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
img{
    width: 50%;
}
.logo:hover img{
    transform: scale(1.2);
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.botao{
    display: flex;
    justify-content: center;
    align-items: center;
}
.linha01,
.linha02{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-bottom: 2rem;
    color: #fff;
}
input{
    width: auto;
    height: 3rem;
    border: none;
    border-radius: 10px;
}
button{
    width: 30%;
    height: 3rem;
    border: none;
    border-radius: 10px;
    background-color: #ff0030;
    color: #fff;
    background: #ff0130df;
    box-shadow: 0 6px 0 #6b0014;
    transition: .3s;
}
button:active{
    transform: translateY(5px);
    box-shadow: 0
    3px 0 #ff0030;
}